* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    /* border:1px solid red; */
}

li {
    list-style-type: none;
}

.main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px;
}

img {
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 19px 5px rgba(107,107,107,1);
    -moz-box-shadow: 0px 0px 19px 5px rgba(107,107,107,1);
    box-shadow: 0px 0px 19px 5px rgba(107,107,107,1);   
}

.card ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    min-width: 200px;
}